*{
    margin: 0;
    padding: 0;
}
body{
    background: #3a3d47;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    background: white;
    width: 1200px;
    margin: 10px auto;
}
.cabecera{
    background: #1551a1;
    overflow: hidden;
}
.logo{
    float: left;
    padding: 25px;
    width: 250px;
}
.menu{
    float: left;
    padding: 40px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 35px;
}
.opciones li a:hover{
    background-color: black;
}
.imagen_principal{
    width: 1200px;
}
.titulo{
    color: chocolate;
    text-align: center;
}
.cuerpo{
    overflow: hidden;
}
.caja{
    float: left;
    width: 380px;
    margin: 8px 8px;
    border: 1px solid;
}
.caja img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.servicio{
    background: #1551a1;
    padding: 10px;
    color: white;
    text-align: center;
}
.contenido{
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}
.boton{
    padding: 10px 40px;
    margin: 0px 0px 10px 0px;
    background: #1551a1;
    color: white;
    border-radius: 10px;
}
.boton:hover{
    cursor: pointer;
    background: black;
}
.pie{
    background: #1551a1;
    padding: 10px;
    overflow: hidden;
}
.pie_izquierdo{
    float: left;
    width: 580px;
}
.pie_derecho{
    float: left;
    width: 580px;
}
.referencias{
    font-size: 12px;
    text-align: justify;
    color: white;
    padding: 10px;
}
.siguenos{
    text-align: center;
    color: white;
    padding: 10px;
}